{% load cms_tags static sekizai_tags %}
{% if not instance.is_published and show_wrapper and request.toolbar and request.toolbar.edit_mode_active %}
<!-- time-wizard-insertion-point-start {{ instance.id }} -->
{% endif %}
{% if instance.is_published or request.toolbar and request.toolbar.edit_mode_active %}
{% for plugin in instance.child_plugin_instances %}
{% render_plugin plugin %}
{% endfor %}
{% endif %}
{% if not instance.is_published and show_wrapper and request.toolbar and request.toolbar.edit_mode_active %}
<!-- time-wizard-insertion-point-end {{ instance.id }} -->
{% addtoblock "css" %}
<link rel="stylesheet" href="{% static "djangocms_time_wizard/css/djangocms_time_wizard.css" %}">
{% endaddtoblock %}
{% addtoblock "js" %}
<script type="text/javascript" src="{% static "djangocms_time_wizard/js/djangocms_time_wizard.js" %}"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
<script type="text/javascript">
  CMS.$(window).on('cms-content-refresh', setupDjangoCMSTimeWizardWrapper)
</script>
{% endaddtoblock %}
{% endif %}
